* @avishekpant @varunpuranik @timtay-microsoft @olivakar @maximsemenov80 @cartertinney @vaavva @RLeclair @clecompt-msft @marcschier

/doc/dev/adr @avishekpant @varunpuranik

/dotnet  @timtay-microsoft @olivakar @maximsemenov80 @avishekpant @varunpuranik

/rust   @cartertinney @vaavva @RLeclair @avishekpant @varunpuranik

/go @clecompt-msft @avishekpant @varunpuranik @cartertinney

/wot-codegen @marcschier @koepalex @avishekpant @varunpuranik