<#@ template language="C#" linePragmas="false" #>
<#@ import namespace="SpecMapper" #>
      {
        "@type": [ "Relationship"<#=this.GetCotype()#>, "Qualified" ],
<# if (!this.IsPlaceholder()) { #>
        "maxMultiplicity": 1,
<# } #>
        "name": "<#=TypeConverter.StripAngles(TypeConverter.Dequalify(definedType.BrowseName))#>",
        "namespace": "<#=SpecMapper.GetUriFromSpecName(TypeConverter.GetSpecName(definedType))#>"<#=this.Target != null ? "," : ""#>
<# if (this.Target != null) { #>
        "target": "<#=this.Target#>"
<# } #>
      }