<#@ template language="C#" linePragmas="false" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<# // Copyright (c) Microsoft Corporation. #>
<# // Licensed under the MIT License #>
[
<# this.PushIndent("  "); #>
<# int ix = 1; foreach (WotThingModel thingModel in this.thingModels) { #>
<#=thingModel.TransformText()#><#=ix < this.thingModels.Count ? "," : ""#>
<# ix++; } this.PopIndent(); #>
]
